
:root{
  --white:#fff;
  --black:#111;
  --blue:#3a80e9;
  --lightBlue:#00BBD3;
  --yellow:#FEC106;
  --grey:#CFD4D9;
  --darkgrey:#1b1b1b;
  --green:#61c96f;
  --red:#f94141;
}

body{
  margin: 0;
}